<main>
  <div class="container-fluid pl-4 pr-4">
    <div class="card mt-4">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0">
          Welcome to the home page!
        </h5>
      </div>
      <div class="card-body">
        <p>
          Hello there! Sorry, this page isn't that interesting, as I am still working on it 😂😁
          Feel free to visit the <a style="cursor: pointer" [routerLink]="['cover-letter']">Cover Letter</a> page and build a flexible cover letter.
          <br>
          <br>
          Powered by Angular, Docker, Nginx and Cloudflare 💪
        </p>
      </div>
    </div>



    <div class="row">
      <div class="col">
        <div class="card mt-4">
          <div class="card-header bg-dark text-white">
            <h5 class="mb-0">
              Recommended Resume
            </h5>
          </div>
          <div class="card-body">
            <a href="http://resume-videos-00.s3.amazonaws.com/University-Student-Investment-Banking-Resume-Template.docx">Download The Investment Banking Resume Template (DOCX)</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mt-4">
          <div class="card-header bg-dark text-white">
            <h5 class="mb-0">
              Recommended Cover Letter
            </h5>
          </div>
          <div class="card-body">
            <a href="http://resume-videos-00.s3.amazonaws.com/Investment-Banking-Cover-Letter-Template.docx">Download The Investment Banking Cover Letter Template (DOCX)</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>
